String

In [1]:
str1='hello world!'
print(str1)
print(str1[0])
print(str1[2:5])
print(str1[2:])
print(str1*2)
print(str1+"Test")

hello world!
h
llo
llo world!
hello world!hello world!
hello world!Test

In [9]:
str1.upper()

'HELLO WORLD!'

In [10]:
str1.lower()

'hello world!'

store elements of a string to the list

In [11]:
strList=str1.split(" ")
strList

['hello', 'world!']

Conditional Statements and Loops

In [12]:
a = 7
if(a==6):
    print(a)
else:
    print("not 6")

not 6

In [13]:
b = input("enter the no. : ")
print(2+int(b))

79

In [3]:
list=[2, 'helo', 5.2, 9, "hii", 1.2]
slist=[]
ilist=[]
clist=[]
for elem in list:
    if(type(elem)==int):
        ilist.append(elem)
    elif(type(elem)==str):
        slist.append(elem)
    elif(type(elem)==float):
        clist.append(elem)
print(ilist)
print(slist)
print(clist)

[2, 9]
['helo', 'hii']
[5.2, 1.2]

In [15]:
for i in range(0, 10, 3):
    print(i, end=" ")
print()
for i in range(0, -4, -1):
    print(i, end=" ")

0 3 6 9
0 -1 -2 -3

Functions

In [16]:
def myFunction(myList):
    myList.append([1, 2, 3, 4])
    print("Inside : ", myList)
    return

myList = [7, 3]
myFunction(myList)
print("Outside : ", myList)

Inside :  [7, 3, [1, 2, 3, 4]]
Outside :  [7, 3, [1, 2, 3, 4]]

In [17]:
total=0

def sum(arg1, arg2):
    total=arg1+arg2
    print("Inside : ", total)
    return total

sum(10, 20)
print("Outside : ", total)

Inside :  30
Outside :  0

Data Frame

In [18]:
import pandas as pd
list=['Geeks', 'For', "Geeks", "is", "portal", "for", "geeks"]
df=pd.DataFrame(list)
print(df)

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   geeks

In [19]:
import pandas as pd
dict={'name':['Rohit', "Jeet"], 'age': [20, 25]}
df=pd.DataFrame(dict)
print(df)

    name  age
0  Rohit   20
1   Jeet   25

In [20]:
data={'name': ['jai', 'prince', 'gaurav', 'anuj'], 'age': [27, 24, 22, 32], 'address': ['delhi', 'kanpur', 'allahabad', 'kannauj'], 'qualification': ['MSc', 'MA', "MCA", 'Phd']}

# print(df)
df2=pd.DataFrame(data)
print(df2[['name', 'qualification']])
row2=df2.iloc[2, 1]
row2
print(row2)

     name qualification
0     jai           MSc
1  prince            MA
2  gaurav           MCA
3    anuj           Phd
22

Anshul Singla
CSE-1
20051562
16/01/2023